footer{
	background:#808080;
	padding: 20px;
}
h6{
font-family: ZonaPro-Thin;
font-size: 30px;
color: white;
letter-spacing: 5px;
}
p{
	display: inline;
}
.vr{border-left: 1px solid white;

}
 .footerlinks a {
    color: black;
    text-decoration: none;{
	color: black;
	font-family: ZonaPro-Thin;
	text-decoration: none;
}
@font-face {
    font-family: ZonaPro-Thin;
    src: url(ZonaPro-Thin.otf);
}